h1{

    font-size: 140px;
    text-align: center;
    color: #000000;
}

body{
      background-color: #dc143c ;

}
span{
    font-size: 30px;
    color: #000000;
   margin: 30px;

}
p{
  font-size: 30px;
  color: #000000;
  text-align: center;

}
.myimg{
  width:300px;
  height:300px;
  object-fit: cover;
  border-radius: 100%;
  background-position:center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 6px solid #555;
  border-color: #49402a;
}
li{
  font-size: 30px;
}
h2{
  font-size: 30px;

}